.category-card {
  > .ant-card {
    margin-top: 2rem;
    > .ant-card-body {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 2rem;

      &::before,
      &::after {
        content: none;
      }
    }
  }
}

@media (max-width: 48em) {
  .category-card {
    padding: {
      right: 1rem;
      left: 1rem;
    }

    > .ant-card {
      > .ant-card-body {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 0.2rem;

        padding: {
          top: 1.2rem;
          right: 0.5rem;
          left: 0.5rem;
        }
      }
    }
  }
}
