.customer-info {
  display: flex;
  flex-direction: column;

  .customer-info-raw {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 5rem repeat(2, 1fr);

    > label {
      grid-column: 2/3;
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: end;
    }

    > span {
      grid-column: 4/6;
    }
  }
}
