.cart {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: auto 1fr;
  flex-grow: 1;
  grid-gap: 1.5rem;

  > p {
    margin-top: 2rem;
    text-transform: uppercase;
    grid-column: 2/13;
    grid-row: 1/2;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 1rem;

    > span {
      font-size: 1.8rem;
    }
  }

  .cart-content {
    grid-column: 2/10;
    grid-row: 2/3;
    box-shadow: 0 0 1rem 1px rgb(212, 212, 212);

    > .cart-empty {
      font-size: 2rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .cart-payment-side {
    grid-column: 10/13;
    grid-row: 2/3;

    .cart-payment {
      box-shadow: 0 0 1rem 1px rgb(212, 212, 212);
      min-height: 10rem;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;

      .cart-temp {
        display: flex;
        justify-content: space-between;

        > span:last-child {
          font-weight: 600;
        }
      }

      > span {
        content: '';
        display: table;
        border-top: 1px solid rgb(228, 226, 226);
        width: 100%;
        margin: 2rem auto;
      }

      .cart-real {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > span:first-child {
        }

        > span:last-child {
          color: red;
          font-size: 2rem;
        }
      }
    }
  }

  .cart-btn {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 48em) {
  .cart {
    grid-template-rows: auto repeat(2, 1fr);

    > p {
      > span {
      }
    }

    .cart-content {
      grid-column: 1/14;
      padding: 0 2rem;
    }

    .cart-payment-side {
      grid-column: 1/14;
      grid-row: 3/4;

      .cart-payment {
        .cart-temp {
          > span:last-child {
          }
        }

        > span {
        }

        .cart-real {
          > span:first-child {
          }

          > span:last-child {
          }
        }
      }
    }
  }
}
