.sign-up {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  > .ant-form {
    padding: 0rem 4rem 0 0;
  }

  .ant-form-item {
    &::before {
      content: none;
    }
    &::after {
      content: none;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;

    .ant-form-item-label {
      margin-right: 2rem;
      grid-column: 1/2;
      width: 100%;
    }

    .ant-form-item-control-wrapper {
      width: 100%;
      grid-column: 2/4;
      margin-left: 0;
      text-align: center;
    }

    .ant-btn-primary {
      width: 100%;
    }
  }
}

@media (max-width: 48em) {
  .sign-up {
    padding: 0 1rem;

    .ant-form-item {
      .ant-form-item-label {
        font-size: 0.5rem;
      }

      .ant-form-item-control-wrapper {
      }
    }
  }
}
