.home {
  .ant-tabs-vertical {
    .ant-tabs-left-bar {
      height: 100vh !important;
      width: 17vw !important;
      text-align: center;

      .ant-tabs-tab {
        text-align: center;
        padding: 2rem 0;
        margin: 0;
      }
    }
  }
}
