@mixin scss-info-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 1rem 0;

  > span {
    grid-column: 3/4;
    text-align: end;
  }

  > input {
    grid-column: 5/11;
  }

  > .profile-btn {
    grid-column: 7/9;
  }

  > .profile-btn-update {
    grid-column: 3/5;
  }

  > .profile-btn-cancel {
    grid-column: 6/8;
  }

  .ant-checkbox-wrapper {
    grid-column: 5/11;
  }

  .ant-select {
    grid-column: 5/11;
  }

  > .ant-calendar-picker {
    grid-column: 3/8;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;

  .profile-avatar {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto;

    .profile-avatar-img {
      grid-column: 7/9;
      text-align: center;

      > img {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
      }
    }

    .profile-upload-btn {
      grid-column: 7/9;
      text-align: center;

      /***** Example custom styling upload image *****/
      .upload-btn-wrapper input[type='file'] {
        position: absolute;
        top: -1000px;
      }

      .upload-btn-wrapper {
        cursor: pointer;
        border: 1px dashed rgb(217, 217, 217);
        border-radius: 2rem;
        padding: 1rem 1.5rem;
        margin: 1.5rem auto 1rem;
        display: inline-block;

        &:hover {
          border-color: #40a9ff;
          box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        }
        &:active {
          background: #ccf;
        }
        & :invalid + span {
          color: #a44;
        }
        & :valid + span {
          color: #4a4;
        }
      }
    }
  }

  .profile-info {
    display: flex;
    flex-direction: column;

    .profile-name {
      @include scss-info-row;
    }

    .profile-email {
      @include scss-info-row;
    }

    .profile-date-of-birth {
      @include scss-info-row;
    }

    .profile-gender {
      @include scss-info-row;
    }

    .profile-old-password {
      @include scss-info-row;
    }

    .profile-new-password {
      @include scss-info-row;
    }

    .profile-checkbox {
      @include scss-info-row;
    }

    .profile-confirm-new-password {
      @include scss-info-row;
    }

    .profile-student-id {
      @include scss-info-row;
    }

    .profile-address {
      @include scss-info-row;
    }

    .profile-phone {
      @include scss-info-row;
    }

    .profile-button {
      @include scss-info-row;
    }
  }
}
