@mixin scss-info-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 1rem 0;

  > span {
    grid-column: 1/3;
  }

  > input {
    grid-column: 3/8;
  }

  > .profile-btn {
    grid-column: 4/7;
  }

  > .profile-btn-update {
    grid-column: 3/5;
  }

  > .profile-btn-cancel {
    grid-column: 6/8;
  }

  .ant-checkbox-wrapper {
    grid-column: 3/8;
  }

  .ant-select {
    grid-column: 3/8;
  }

  > .ant-calendar-picker {
    grid-column: 3/8;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 2rem;

  > p {
    font-size: 1.9rem;
  }

  .profile-info {
    display: flex;
    flex-direction: column;

    .profile-name {
      @include scss-info-row;
    }

    .profile-email {
      @include scss-info-row;
    }

    .profile-date-of-birth {
      @include scss-info-row;
    }

    .profile-gender {
      @include scss-info-row;
    }

    .profile-old-password {
      @include scss-info-row;
    }

    .profile-new-password {
      @include scss-info-row;
    }

    .profile-checkbox {
      @include scss-info-row;
    }

    .profile-confirm-new-password {
      @include scss-info-row;
    }

    .profile-student-id {
      @include scss-info-row;
    }

    .profile-address {
      @include scss-info-row;
    }

    .profile-phone {
      @include scss-info-row;
    }

    .profile-button {
      @include scss-info-row;
    }
  }
}
