.ant-menu {
  .avatar {
    display: flex;
    align-items: center;

    &:hover {
      border-color: #ffffff;
    }

    > img {
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
    }
  }
}

.loading {
  .ant-skeleton {
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-skeleton-header {
    }

    .ant-skeleton-content {
      display: flex;
      align-items: center;
      margin-top: -0.8rem !important;

      .ant-skeleton-title {
        width: 100px !important;
      }
    }
  }

  &::before {
    content: none !important;
  }
}
